data/beadpack/sampled
data/beadpack/original/postprocessed
data/berea/sampled
data/berea/original/postprocessed
data/ketton/sampled
data/ketton/original/postprocessed
code/notebooks/comparisons/.ipynb_checkpoints
code/notebooks/timing/.ipynb_checkpoints
code/notebooks/covariance/.ipynb_checkpoints
code/notebooks/minkowski/.ipynb_checkpoints
code/notebooks/permeability/.ipynb_checkpoints
code/notebooks/postprocess/.ipynb_checkpoints
code/notebooks/training/.ipynb_checkpoints
checkpoints/beadpack
checkpoints/ketton
code/pytorch
code/torch
*.tiff
*.pyc