data/beadpack/sampled
data/beadpack/original/postprocessed
data/berea/sampled
data/berea/original/postprocessed
data/ketton/sampled
data/ketton/original/postprocessed
data/beadpack/original/tiff/beadpack.tif
data/berea/original/raw/berea.tif
data/ketton/original/raw/ketton.tif
code/notebooks/comparisons/.ipynb_checkpoints
code/notebooks/timing/.ipynb_checkpoints
code/notebooks/covariance/.ipynb_checkpoints
code/notebooks/minkowski/.ipynb_checkpoints
code/notebooks/permeability/.ipynb_checkpoints
code/notebooks/postprocess/.ipynb_checkpoints
code/notebooks/preprocess/.ipynb_checkpoints
code/notebooks/training/.ipynb_checkpoints
checkpoints/beadpack
checkpoints/ketton
paper/paper
*.tiff
*.pyc